body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main {
    border-top: 1px solid #706e6e;
    width: 100%;
    margin: 50px 0;
    background-color: #dbedf9;
    padding-bottom: 5px;
    padding: 30px 0;
}

h1 {
    color: #800000;
    font-size: 20px;
    margin-bottom: 30px;
    
}
.register-form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.input-box {
    margin-bottom: 10px;
}

.input-box div{
    margin-bottom: 5px;
}

.input-box input{
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #666666;
}

.btn-box {
    text-align: right;
    margin-top: 30px;
}

.btn-box button {
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #800000;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: large;
}

@media (max-width:426px) {
    .register-form {
        max-width: 260px;
    }
}