body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    margin: 122px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    /* Căn giữa */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #800000;
    font-size: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.register-form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #800000;
    border-radius: 6px;
}

.input-box {
    margin-bottom: 20px;
}

/* Báo lỗi */
.input-box div{
    margin-bottom: 5px;
}

.input-box input{
    /* width: 100%; */
    border: 1px solid #800000;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #b22222;
    padding-left: 12px;
    width: 388px;
}

.btn-box {
    text-align: right;
    margin-top: 20px;
}

.btn-box button {
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #800000;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: large;
    width: 136px;
    height: 46px;

}

