select {
    height: 35px;
    /* font-size: 15px; */
    border-radius: 2px;
}

.boloc {
    margin-right: 6px;
}

main {
    border-top: 1px solid #706e6e;
    border-bottom: 1px solid #706e6e;
    width: 100%;
    margin: 50px 0;
    padding-bottom: 20px;
}

main>div {
    margin: 30px 15%;
}

main>div div:nth-child(1) {
    margin-bottom: 15px;
}

main>div div:nth-child(2) {
    float: right;
    margin-right: 55px;
    margin-bottom: 10px;
}

main>div div:nth-child(3) {
    clear: both;
}

main>div div {
    margin-bottom: 30px;
}

@media (max-width:700px) {
    main>div div:nth-child(2) {
        float: none;
    }
}