body {
    background-color: rgb(242, 246, 250);
}

main {
    width: 100%;
    margin: 50px 0;
}

.giohang_header {
    color: #800000;
}

main>div {
    margin: 0 15%;
}

main>div>div {
    box-shadow: 0px 0px 15px 1px grey;
    background-color: white;
}

main>div>div #thongtinKhachHang {
    padding: 15px 20px;
    border-bottom: 1px solid #800000;
    
}

main>div>div #thongtinKhachHang form {
    margin: 20px 0 2% 0;
}

main>div>div #thongtinKhachHang form .heightInput {
    height: 34px;
    padding-left: 10px;
}

main>div>div .tongTien {
    margin-top: 5px;
    /* ngăn phần tử bị ảnh hưởng bởi các float trước */
    clear: both; 
    height: 50px;
    padding: 0 20px;
}

main>div>div .tongTien h4 {
    float: left;
}

main>div>div .tongTien div {
    float: right;
    margin-top: 17px;
    color: #800000;
}

main>div>div .datHang {
    text-align: center;
    height: 80px;
    padding: 0 20px;
}

main>div>div .datHang button {
    width: 100%;
    height: 50px;
    background-color: #800000;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

/* Ô nhập thông tin */
form .widthInput {
    width: 48%;
}

form input:last-child {
    width: 98%;
}

main>div>div #thongtinKhachHang form #phai {
    margin: 15px 0;
}

main>div>div #thongtinKhachHang form #labelCachNhanHang {
    margin-top: 15px;
}

main>div>div #thongtinKhachHang form #radioCachNhanHang {
    margin-bottom: 15px;
}

#radioCachNhanHang div {
    display: inline-block;
}

main>div>div #thongtinKhachHang form .diachi {
    margin-bottom: 8px;
}

/* Các sản phẩm được thêm trong giỏ hàng */
main #cacsanpham {
    padding: 0 20px;
    padding-bottom: 10px;
}

main #cacsanpham .sanpham:first-child {
    border: none;
}

main #cacsanpham .sanpham {
    width: 100%;
    border-top: 1px solid #800000;
    margin-top: 24px;
}

/* Chi tiết từng sản phẩm */
main #cacsanpham .sanpham .imgSanPham {
    display: inline-block;
    width: 20%;
}

main #cacsanpham .sanpham .tenSanPham {
    display: inline-block;
    width: 60%;
    color: #800000;
}

main #cacsanpham .sanpham .giaSanPham {
    display: inline-block;
    width: 20%;
    color: #800000;
    text-align: right;
}

/* Xoá sản phẩm */
main #cacsanpham .sanpham .xoaSanpham {
    display: inline-block;
    width: 20%;
}

main #cacsanpham .sanpham .xoaSanpham a:hover {
    cursor: pointer;
}

main #cacsanpham .sanpham .xoaSanpham a span {
    color: #706e6e;
}

main #cacsanpham .sanpham .xoaSanpham a span:hover {
    color: #800000;
}

/* Số lượng sản phẩm */
main #cacsanpham .sanpham .soluongSanPham {
    display: inline-block;
    width: 80%;
    text-align: right;
}

main #cacsanpham .sanpham .soluongSanPham div {
    display: inline-block;
    margin-left: 12px;
}

main #cacsanpham .sanpham .soluongSanPham div span {
    display: inline-block;
    width: 15px;
    margin-right: 6px;
}

