body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Khu vực sản phẩm */
main #products .rowProducts,
main #cacSP_tuongtu .rowProducts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    /* grid-auto-columns: 20px; */
    /* Khoảng cách giữa các cột và hàng */
    column-gap: 10px;
    row-gap: 10px;
}

/* Main */
.rowProducts .product {
    text-decoration: none;
    margin-right: 4px;
}

.product>div {
    border: 1px solid #d1cccc;
    width: 100%;
    height: 258px;
    display: inline-block;
}

.product>div .productImg {
    text-align: center;
    padding-top: 30px;
    height: 75px;
}

.product>div .productTen {
    color: black;
    padding-left: 10px;
    font-weight: 500;
    height: 43px;
}

.product>div .productGia {
    color: #800000;
    padding-left: 10px;
    font-weight: bold;
}

.product>div .productThemGioHang {
    border: 1px solid black;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    background-color: #800000;
}

.product>div .productThemGioHang:hover {
    background-color: #B22222;
}

.product>div .productThemGioHang span {
    font-weight: bold;
    /* color:rgb(255, 51, 0); */
    color: white;
    font-weight: 600;
}

/* Footer */
footer {
    background-color: #800000;
    width: 100%;
    padding-bottom: 30px;
}

footer>div {
    margin: 0 15%;
}

/* footer>div>div:nth-child(1) {
    display: inline-block;
    margin-right: 130px;
    position: relative;
    top: -25px;
} */

footer>div>div:nth-child(2) {
    display: inline-block;
    margin-right: 130px;
}

footer>div>div:nth-child(3) {
    display: inline-block;
    margin-right: 130px;
}

footer>div>div:nth-child(4) {
    display: inline-block;
}

footer>div>div:nth-child(5) {
    border-top: 1px solid rgb(212, 201, 201);
    margin-left: -72px;
}

footer>div>div:nth-child(5) div {
    font-family: 'Open Sans,sans-serif';
    margin-left: 20px;
    display: inline-block;
}

footer>div>div:nth-child(5) div:last-child {
    position: relative;
    right: -40px;
}

footer>div>div:nth-child(5) p {
    margin-bottom: -12px;
    color: white;
    
}

footer>div>div:nth-child(5) span {
    position: relative;
    top: 15px;
}

footer ul {
    padding: 25px 0;
}

footer ul span {
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 10px;
}

footer ul li {
    font-family: 'Open Sans,sans-serif';
    color: white;
    margin-bottom: 5px;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}

