.topnav {
    background-color: #800000;
    border: 1px solid black;
    padding: 0 14%;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: white;
}

.topnav a.active {
    /* background-color: #39b2c7; */
    background-color: #B22222;
    color: white;
}

